
snippet template
	/* ------------------------------------------- */

	:root {
		--background-color: white;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html, body {
		margin:  0px;
		padding: 0px;
	}

	/* ------------------------------------------- */

	/* when larger screens... (mobile first) */
	@media only screen and (min-width: 600px) {
	}

	/* when smaller screens... (desktop first) */
	@media only screen and (max-width: 600px) {
	}
	
