snippet deno
	#!/usr/bin/env -S deno run --allow-net --allow-read --allow-env --allow-run

snippet template
	'use strict';

	const start = () => {
		console.log("DOM loaded");
	};

	window.addEventListener('DOMContentLoaded', start);

snippet prom
	const thisFunReturnsAPromise = () => {
		return new Promise((resolve, reject) => {
			if (good)
				resolve(something)
			else
				reject(new Error(error))
		});
	};

