// css, background image, background-repeat, background-position, background-attachment, background-clip, background-size

body {
    background-image: url("../assets/images/sample.jpg");
    /* path relative to the CSS file */
    background-repeat: no-repeat;   /* no-repeat | repeat */
    background-position: center;    /* center | left top | ??? */
    background-attachment: fixed;   /* scroll | fixed */
    background-clip: border-box;    /* border-box | padding-box | content-box */
    background-size: cover;         /* cuts off (but does the right thing)[?] */
    /* background-size: 100% auto; */
    /* background-size: auto 100%; */
    /* background-size: contain; */
}

