// css, grow item, expand item, primary axis, flex-grow

/*************************************************/
/*   this makes it grow along its primary axis   */
/*************************************************/
#ex1 {
    flex-grow: 1;
}

#ex2,
#ex3 { }



/***************************************************/
/*   to expand multiple in different proportions   */
/***************************************************/

#ex1 {
    flex-grow: 1;
}

#ex2 {
    flex-grow: 2;
}

#ex3 { }

