<ul class="navbar">
  <li class="nav-item">
    <a class="nav-item <%- mc==='home' ? 'active' : '' %>" href="/index.html">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-item <%- mc==='about' ? 'active' : '' %>" href="/about.html">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-item <%- mc==='photos' ? 'active' : '' %>" href="/pages/photos.html">Photos</a>
  </li>
  <li class="nav-item">
    <a class="nav-item <%- mc==='deeper' ? 'active' : '' %>" href="/pages/deeper/deeper.html">Deeper</a>
  </li>
</ul>

